.App {
  text-align: center;
}

.body-header {
  background-color: #282c34;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-header{
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.5rem;
}

.music_logo {
  margin-right: 12px;
  width: 75px;
  height: 60px;
}

.search-container {
  position:absolute;
  margin: 40px;
  margin-right: 330px;
  padding: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.slider-container {
  position:absolute;
  margin: 20px;
  margin-left: 300px;
  padding: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

